@charset "UTF-8";
body{
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
   background-image: linear-gradient(to right,#aadead, #bbdead, #ccdead, #dddead, #eedead);
   padding: 10px;
}
main{
 
  width: 600px;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px 10px;
  text-align: center;
}
h1{
    text-align: center;
    background-color: blue;
    width: 600px;
    margin: auto;
    box-shadow: 10px 10px 10px darkblue;
    border-radius: 5px 5px 5px;
    
}
a{
    font-weight: bold;
    text-decoration: none;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    width: 600px;
    margin: auto;

}

a:visited{
    color: magenta;
}

a:active{
    color: rgb(0, 255, 0);
}

a:hover{
    color: black;
    text-decoration: underline;
}

.especial::before{
    content: '(';
}

.especial::after{
    content: ')';
}

.especial2::before{
    content: '>';
}

.especial2::after{
    content: '<';
}

.especial3::before{
    content: ">>";
}

.especial3::after{
    content: "<<";
}
