@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,  #0125ce, #283cda, #4f52e7, #7669f3, #9d7fff);
    margin: auto;
    width: 600px;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 30px 0px 30px 0px;
   
}
article{
    background-color:white;
    padding: 5px;
   border-radius: 20px 20px 0px 0px ;
}
aside> p{
    background-color:white;
    font-weight: bold;
    font-style: italic;
    text-align: right;
}
footer{
    background-color: lightskyblue;
    text-align: center;
    margin: 0px;
    padding: 4px;
   
}
footer> p{
    text-align: center;
    font-weight: bold;
    margin: 0px;
    
   
}
div#bola{
    background-color: white;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
}

h1{
    text-align: center;
}
nav{
    background-color: darkgrey;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 10px darkslategrey;
    border-radius: 0px 30px 0px 30px;
}
nav> a{
    text-decoration: none;
}
nav> a:hover{
    text-decoration: underline;
}
a{
   color: black;
   padding: 10px;
}
article> h2{
    background-color: blue;

}
p{
    text-align: justify;
}